.wrapper {
	text-align: center;
}

.title {
	text-align: center;
	font-size: 30px;
}

body {
  background-color: #fff;
}

.sign-popup {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1000px;
	height: 300px;
	margin: auto;
	background: #ccc;
	padding: 10px;
}

.sign-popup__input {
	width: 300px;
	margin-bottom: 20px;
	height: 45px;
	border:0;
	padding: 0 10px;
}